const firebaseConfig = {
  apiKey: "AIzaSyBO0toGfMzc6sTmPJwS6N19z2cEoam2L2w",
  authDomain: "kinnex-b7001.firebaseapp.com",
  projectId: "kinnex-b7001",
  storageBucket: "kinnex-b7001.firebasestorage.app",
  messagingSenderId: "209766831689",
  appId: "1:209766831689:web:b55e44f79d8da5b0c09198"
};

paystack = sk_live_1b1c97a9436e927a388a8ebc2471476f3614eb9c


//testing object
const firebaseConfig = {
    apiKey: "AIzaSyC8HqzQ1M-Rdq5xGDRvcI0MEOWhoAGyVdY",
    authDomain: "idealcrypto-hub.firebaseapp.com",
    projectId: "idealcrypto-hub",
    storageBucket: "idealcrypto-hub.firebasestorage.app",
    messagingSenderId: "156440213308",
    appId: "1:156440213308:web:dc422c38920990edf15039",
    measurementId: "G-FXB7MJBCRV"
  };